{% extends 'base.html' %}

{% block content %}
<h2>Welcome to BAMI</h2>
<p>Connect with people who share your music taste.</p>
{% if current_user.is_authenticated %}
  <a href="{{ url_for('routes.account') }}">Go to Your Account</a>
  <a href="{{ url_for('routes.match') }}">Find Matches</a>

  {% if matched_user is defined and matched_user %}
    <a href="{{ url_for('routes.chat', matched_user_id=matched_user.id) }}">Chat</a>
  {% else %}
    <span class="disabled-link">Chat</span>
  {% endif %}

{% else %}
  <a href="{{ url_for('routes.login') }}"><button>Get Started</button></a>
{% endif %}
{% endblock %}
